# requirements.txt

certifi==2025.6.15
charset-normalizer==3.4.2
idna==3.10
requests==2.32.4
urllib3==2.5.0
colorama==0.4.6
selenium==4.25.0
selenium-wire==5.0.0
selenium-stealth==1.0.6
selenium-wire-proxy==1.0.0
prettytable==3.10.0

